.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding-right: 54px;
  padding-left: 50px;
}

/* список за флексели */

.header__links-list {
  /* justify-self: center; */
  display: flex;
  /* column-gap: 30px; */
  text-decoration: none;
  list-style-type: circle;
  font-size: 18px;
  line-height: 100%;
  text-underline-offset: 2px;
  padding-bottom: 6px;
}

.header__links-list-item{
  padding-right: 32px;
}

/*убрали маркер у первого элемента */
.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

/* логотип */
.header__logo a{
  display: block;
  width: 136px;
  height: 106px;
}

.header__logo {
  
}


/*стилизуем цвет ссылок */

.header__link {
  color: black;
}

/*стилизация адресса*/
.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 236px;
  
}

.header__address {
justify-self: end;  
}

.address-iphone,
.address-email,
.address-street {
  text-underline-offset: 2px;
  display: block;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}

/* закончили с заголовком */


/* основная часть - секция 1 */

.cover {
  padding-top: 165px;
  position: relative;
  min-height: 757px;
  background-image: url('/images/cover.jpg');
  color: #ffffff;
  margin-bottom: 180px;
}

.overley {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* черный с 50% прозрачностью */
  z-index: 1; /* поверх других элементов */
}

/* превращение элементов заголовка span в блочный тип */

.aligned-text {
  display: block;
}
/* Стилизация заголовка.*/

.section-cover_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700px;
  letter-spacing: 0.3em;
  line-height: 115px;
}

/* стилизация заголовка */

.aligned-text_left {
  align-self: start;
  padding-left: 50px;
  z-index: 2;
}

.aligned-text_center {
  align-self: center;
  padding-left: 30px;
  z-index: 2;
}

.aligned-text_right {
  align-self: end;
  padding-right: 20px;
  z-index: 2;
}

/* второй элемент в секции */
.description {
  margin-top: 105px;
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* подзаголовок  */

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 22px;
  font-weight: 400;
  word-spacing: 19px; /* расстояние между словами */
  z-index: 2;
}

/* кнопка */

.bet-button {
  min-width: 256px;
  color: white;
  background: transparent; /* прозрачный фон */
  border: 2px solid white;
  padding: 12px 24px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer; /* при наведении меняется стрелка на руку */
  z-index: 2;
}

/* основная часть - секция 2 lots. создаем grid для трех элементов: заголока, 
основной части и ссылки. */

.lots {
  min-height: 723px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 120px;
  display: grid;
  grid-template-rows: auto 1fr auto; 
  row-gap: 30px;
}

/* grid - 1 элемент  заголовок. Стилизуем  */

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding-top: 5px;
  padding-left: 40px;
}

/* grid -Второй элемент  контенера */

.lots__card-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  
}

.lots__card-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 49px 40px;
  min-height: 596px;
}

/* задаем высоту a и article чтобы контент расположился согласно макету */

.card-link,
.card {
  height: 100%;
  
}

/* ссылку делаем блочной и стилизуем*/

.card-link {
  display: flex;
  align-items: start;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  z-index: 2;
}

/* стилизуем текст в карточках */
.card {
  z-index: 3;
  display: flex;
  align-items: end;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

/* добавляем картинки в список */

.lots__card-list-item-left {
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.lots__card-list-item-center {
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.lots__card-list-item-right {
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

/* drig- 3 элемент. стилизуем последний элемент <a> ссылку  */

.lots__look-more-link {
  font-size: 20px;
  line-height: 100%;
  text-underline-offset: 3px;
  padding-left: 40px;
}

/* секция adout */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  min-height: 593px;
  gap: 25px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 134px;
}

/* grid-1 элемент под логотип */

.about__logo {
  justify-self: center;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}

.about-logo_white {
  width: 148px;
  height: 114px;
}

/* grid- 2 элемент */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.about__title {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 35px;
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.container-about__text {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}

.about__text {
  color: black;
  font-size: 20px;
  line-height: 24px;
}

/* foteer заключительный блок */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
  padding-right: 50px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Горизонтально по центру */
  align-items: center;  
}

.footer__social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  gap: 48px;
}

.footer-address {
  max-width: 238px;
}

.footer__menu-list,
.footer__social-list {
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 115%;
  text-underline-offset: 3px;
  font-weight: 400;
  
  
}

.footer__menu-link_active {
  text-decoration: none;
}