.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 93px 54px 93px 50px;
}

/* список за флексели */

.header__links-list {
  display: flex;
  padding-bottom: 6px;
  font-size: 18px;
  line-height: 100%;
  text-decoration: none;
  text-underline-offset: 2px;
  list-style-type: circle;
}

.header__links-list-item {
  padding-right: 32px;
}

/*убрали маркер у первого элемента */

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

/* логотип */
.header__logo{
  display: block;
  width: 136px;
  height: 106px;
}

/*стилизуем цвет ссылок */

.header__link {
  color: black;
}

/*стилизация адресса*/
.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 236px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 2px;
}

.header__address {
  justify-self: end;
}

.address-info {
  display: block;
}

/* закончили с заголовком */

/* основная часть - секция 1 */

.cover {
  position: relative;
  min-height: 757px;
  margin-bottom: 180px;
  padding-top: 165px;
  color: #ffffff;
  background-image: url("../images/cover.jpg"); 
  background-size: cover;
}

.overley {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* превращение элементов заголовка span в блочный тип */

.aligned-text {
  z-index: 2;
  display: block;
}
/* Стилизация заголовка.*/

.section-cover_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

/* стилизация заголовка */

.aligned-text_left {
  align-self: start;
  padding-left: 50px;
}

.aligned-text_center {
  align-self: center;
  padding-left: 30px;
}

.aligned-text_right {
  align-self: end;
  padding-right: 20px;
}

/* второй элемент в секции */
.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 105px;
  margin-right: 50px;
  margin-left: 50px;
}

/* подзаголовок  */

.cover__description-text {
  z-index: 2;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  word-spacing: 19px; /* расстояние между словами */
}

/* кнопка */

.bet-button {
  z-index: 2;
  min-width: 256px;
  border: 2px solid white;
  padding: 12px 24px;
  color: white;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent; /* прозрачный фон */
  cursor: pointer; /* при наведении меняется стрелка на руку */
}

/* основная часть - секция 2 lots. создаем grid для трех элементов: заголока, 
основной части и ссылки. */

.lots {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 30px;
  margin-right: 24px;
  margin-bottom: 120px;
  margin-left: 24px;
  padding-bottom: 3px;
}

/* grid - 1 элемент  заголовок. Стилизуем  */

.lots__heading {
  padding-top: 5px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

/* grid -Второй элемент  контенера */

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  color: white;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.lots__card-list-title {
  z-index: 3;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.lots__card-list-content {
  z-index: 3;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

/* добавляем картинки в список */

.lots__card-list-item-movies {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__card-list-item-book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__card-list-item-picture {
  background-image: url(../images/card-lot-03.jpg);
}

/* drig- 3 элемент. стилизуем последний элемент <a> ссылку  */

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
  line-height: 100%;
  text-underline-offset: 3px;
}

/* секция adout */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin-right: 24px;
  margin-bottom: 134px;
  margin-left: 24px;
}

/* grid-1 элемент под логотип */

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: black;
}

.about-logo_white {
  width: 148px;
  height: 114px;
}

/* grid- 2 элемент */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 105px;
  padding-top: 105px;
}

.about__title {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 35px;
  color: black;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.container-about__text {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}

.about__text {
  color: black;
  font-size: 20px;
  line-height: 24px;
}

/* foteer заключительный блок */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 82px;
  padding-left: 50px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Горизонтально по центру */
  align-items: center;
}

.footer__social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
  margin-left: auto;
}

.footer-address {
  max-width: 238px;
}

.footer__menu-list,
.footer__social-list {
  list-style: none;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  text-underline-offset: 3px;
}

.footer__menu-link_active {
  text-decoration: none;
}
